@tailwind base;
@tailwind components;
@tailwind utilities;

.mainWidth{
    max-width: 500px;
}

.sprite {
    width: 100%;
}

.hp{
    background-color: #FF5959;
}
.atk{
    background-color: #F5AC78;
}
.def{
    background-color: #FAE078;
}
.spa{
    background-color: #9DB7F5;
}
.spd{
    background-color: #A7DB8D;
}
.spe{
    background-color: #FA92B2;
}

.loader {
    width: 100px;
    animation: rotation 2s infinite linear
}

.resWeakText {
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

@keyframes rotation {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(359deg);
    }
}